# ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
  namespace: photo-server
data:
  redis.conf: |
    appendonly yes
    appendfsync everysec
    dir /data
---
# PVC
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  namespace: photo-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Gi
  storageClassName: longhorn
  volumeMode: Filesystem
---
# Redis StatefulSet
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: photo-server
spec:
  serviceName: redis
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:8
          command:
            - sh
            - -c
            - >
              redis-server /usr/local/etc/redis/redis.conf
              --requirepass "$REDIS_PASSWORD"
          envFrom:
            - secretRef:
                name: photo-server-secrets
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: data
              mountPath: /data
            - name: config
              mountPath: /etc/redis
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - >
                  redis-cli -a $REDIS_PASSWORD ping
                  | grep -q PONG
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - >
                  redis-cli -a $REDIS_PASSWORD ping
                  | grep -q PONG
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          securityContext:
            runAsUser: 1001
            runAsGroup: 1001
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ "ALL" ]
            seccompProfile:
              type: RuntimeDefault
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: redis-pvc
          configMap:
            name: redis-config
        - name: data
          persistentVolumeClaim:
            claimName: redis-pvc
      resources:
        requests:
          cpu: "250m"
          memory: "512Mi"
        limits:
          cpu: "750m"
          memory: "1Gi"
      securityContext:
        fsGroup: 1001
---
# Service
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: photo-server
spec:
  clusterIP: None
  selector:
    app: redis
  ports:
    - port: 6379
      name: redis

