apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-ml-cache
  namespace: photo-server
  labels:
    app.kubernetes.io/part-of: photo-server
    app.kubernetes.io/component: immich-ml
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-ml
  namespace: photo-server
  labels:
    app.kubernetes.io/part-of: photo-server
    app.kubernetes.io/component: immich-ml
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-ml
  template:
    metadata:
      labels:
        app: immich-ml
    spec:
      containers:
        - name: immich-ml
          image: ghcr.io/immich-app/immich-machine-learning:latest
          ports:
            - containerPort: 3003
          volumeMounts:
            - name: model-cache
              mountPath: /cache
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
          livenessProbe:
            tcpSocket:
              port: 3003
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            tcpSocket:
              port: 3003
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5


      volumes:
        - name: model-cache
          persistentVolumeClaim:
            claimName: immich-ml-cache
---
apiVersion: v1
kind: Service
metadata:
  name: immich-ml
  namespace: photo-server
  labels:
    app.kubernetes.io/part-of: photo-server
    app.kubernetes.io/component: immich-ml
spec:
  selector:
    app: immich-server
  ports:
    - name: http
      port: 3003
      targetPort: 3003
