apiVersion: v1
kind: ConfigMap
metadata:
  name: server-config
  namespace: photo-server
  labels:
    app.kubernetes.io/part-of: photo-server
    app.kubernetes.io/component: immich-server
data:
  DB_HOSTNAME: postgres
  DB_DATABASE_NAME: immich
  DB_PORT: "5432"
  REDIS_HOSTNAME: redis
  REDIS_PORT: "6379"
  IMMICH_MACHINE_LEARNING_URL: http://immich-ml:3003
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library-pvc
  namespace: photo-server
  labels:
    app.kubernetes.io/part-of: photo-server
    app.kubernetes.io/component: immich-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: longhorn
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-server
  namespace: photo-server
  labels:
    app.kubernetes.io/part-of: photo-server
    app.kubernetes.io/component: immich-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-server
  template:
    metadata:
      labels:
        app: immich-server
    spec:
      containers:
        - name: immich-server
          image: ghcr.io/immich-app/immich-server:latest
          ports:
            - containerPort: 3001
          envFrom:
            - configMapRef:
                name: server-config
          env:
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: photo-server-secrets
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: photo-server-secrets
                  key: POSTGRES_PASSWORD
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: photo-server-secrets
                  key: REDIS_PASSWORD
          volumeMounts:
            - name: library
              mountPath: /usr/src/app/upload
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /api/server/ping
              port: 2283
            periodSeconds: 15
            timeoutSeconds: 30
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/server/ping
              port: 2283
            periodSeconds: 15
            timeoutSeconds: 45
            failureThreshold: 5

      volumes:
        - name: library
          persistentVolumeClaim:
            claimName: immich-library-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: immich-server
  namespace: photo-server
  labels:
    app.kubernetes.io/part-of: photo-server
    app.kubernetes.io/component: immich-server
spec:
  selector:
    app: immich-server
  ports:
    - name: http
      port: 2283
      targetPort: 2283
